.general {
  font-family: Arial, Helvetica, sans-serif;
}

.trailerDescrip {
  width: 34%;
  float: left;
  height: auto;
  margin: 2.8% 7.3%;
  margin-left: 8.2%;
  cursor: pointer;
  text-align: center;
  /* border: blue solid; */
}
.trailerTexto {
  margin: 1% 0.3%;
  /* background-color: black;
  color: white;
  border: rgb(83, 79, 79) solid; */
}
.trailerTexto p {
  text-align: justify;
}
.trailerTexto h5 {
  font-weight: bold;
}

/* .grid-container {
  display: grid;
  grid-column-gap: 100px;

  grid-template-rows: auto;
  justify-content: flex-end;
  align-items: stretch;
}
.grid-item {
  border: 1px solid red;
}
.texto {
  border: black solid;
} */
