.contenedor{
	padding: 2em;
}
.boton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #FFFFFF;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1em;
	padding:0.8em 1.8em;
	text-decoration:none;
}
.boton:hover {
	background-color:#0688fa;
}
.boton:active {
	position:relative;
	top:1px;
}

textarea{
	width: 100%;
	padding-bottom: 1.5em;
	margin-bottom: 1.5em;
	margin-top: 0.5em;
}

.etiqueta{
	margin-right: 1em;
}

.estrellas{
	line-height: 0px; 
}

