.contenedorBox {
  display: grid;
  grid-template-columns: [inicio] 100% [final];
  grid-template-rows: [inicio] 170% [linea2] 20% [linea3] 20% [linea4] 20% [final];

  gap: 1%;
  height: 40%;
}
.portadaImg {
  width: 100%;
  height: 100%;
}
.Rating {
  size: small;
}
.elementoBox1:nth-of-type(3) {
  font-size: 110%;
  font-family: 'Lucida Console', Courier, monospace;
  margin: 2%;
}

@media screen and (max-width: 768px) {
  .elementoBox1:nth-of-type(3) {
    font-size: 75%;
    font-family: 'Lucida Console', Courier, monospace;

    margin: 2%;
  }
}
