.contenedorBox2 {
  display: grid;
  grid-template-rows: [inicio] 55% [linea2] 45% [linea3] 150% [final];
  grid-template-columns: 25% 74%;
  text-align: justify;
  height: 40%;
}

.portadaImagenBox2 {
  height: 100%;
  width: 100%;
}

.elementoBox2:nth-of-type(1) {
  grid-row: 1 / -1;
}

.elementoBox2:nth-of-type(3) {
  font-size: 100%;
  font-family: 'Lucida Console', Courier, monospace;
}
.elementoBox2:nth-of-type(4) {
  font-size: 70%;
  opacity: 0.7;
  font-family: 'Lucida Console', Courier, monospace;
  margin: 2%;
}

@media screen and (max-width: 768px) {
  .elementoBox2:nth-of-type(3) {
    font-size: 75%;
    font-family: 'Lucida Console', Courier, monospace;
  }
  .elementoBox2:nth-of-type(4) {
    font-size: 55%;
    opacity: 0.7;
    font-family: 'Lucida Console', Courier, monospace;
    margin: 1.5%;
  }
}
