.contenedorDescripcionPelicula {
  display: grid;
  grid-template-rows: [inicio] 16% [linea2] 15.5% [linea3] 15% [linea4] 15% [linea5] 15%[final];
  grid-template-columns: 40% 60%;
  text-align: justify;
}

/*.elementoDescripcionPelicula {
  background: rgb(178, 230, 173);

  border: 1px solid rgb(8, 2, 2);
}*/
.portadaImagenDescripcionPelicula {
  width: 100%;
  height: 100%;
}

.elementoDescripcionPelicula:nth-of-type(1) {
  grid-row: 1 / -1;
}
.titulosComponente {
  font-size: 80%;
  font-family: 'Lucida Console', Courier, monospace;
  font-weight: bold;
}
.textoComponente {
  font-size: 80%;
  opacity: 0.7;
  font-family: 'Lucida Console', Courier, monospace;
}
.elementoDescripcionPelicula:nth-of-type(3) {
  /*font-size: 100%;
  font-family: 'Lucida Console', Courier, monospace;*/
}
.elementoDescripcionPelicula:nth-of-type(4) {
  /*font-size: 70%;
  opacity: 0.7;
  font-family: 'Lucida Console', Courier, monospace;
  margin: 2%;*/
}

@media screen and (max-width: 768px) {
  .elementoDescripcionPelicula:nth-of-type(3) {
    font-size: 75%;
    font-family: 'Lucida Console', Courier, monospace;
  }
  .elementoDescripcionPelicula:nth-of-type(4) {
    font-size: 55%;
    opacity: 0.7;
    font-family: 'Lucida Console', Courier, monospace;
    margin: 1.5%;
  }
}
