.contenedorLista1 {
  display: grid;
  grid-template-columns: [inicio] 45% [linea2] 25% [linea3] 25% [final];
  grid-template-rows: [inicio] 45% [linea2] 45% [final];
  gap: 2%;
  justify-content: center;
}
.item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 8px 8px;
  background-color: white;
  overflow: auto;
}
.item:nth-of-type(1) {
  grid-row: inicio / final;
}
