.contenedorLista2 {
  display: grid;
  grid-template-rows: repeat(4, 55%);
  grid-template-columns: 70%;
  gap: 3%;
  height: 40%;
  justify-content: space-evenly;
  margin-top: 1%;
}

.elementoLista2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 8px 8px;
  background-color: white;
  overflow: auto;
}
