.contededorLista3 {
  width: 75%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 8px 8px;
  background-color: white;
  overflow: auto;
  margin-left: 10%;
  margin-top: 10%;
}

.tituloContenedor {
  font-weight: bold;
  font-family: 'Georgia';
  text-align: justify;
  font-size: 100%;
  border-left: tomato solid 3px;
  padding-left: 2%;
  margin-top: 4%;
  margin-left: 10%;
}

.imagenLista3 {
  width: 100%;
  height: 25vh;
}

.imagenContenedorLista3 {
  width: 100%;
}
.ratingLista3 {
  margin-left: 5%;
}

.tituloLista3 {
  font-weight: bold;
  font-family: Verdana, sans-serif;
  text-align: justify;
}
.contenedortituloLista3 {
  margin-left: 4%;
}

@media screen and (max-width: 768px) {
  .contededorLista3 {
    width: 55%;
    margin-left: 10%;
    margin-top: 10%;
  }
  .tituloLista3 {
    font-weight: bold;
    font-family: Verdana, sans-serif;
    text-align: justify;
    font-size: 65%;
  }
}
