.contenedorBuscar {
  font-family: 'Georgia';
  padding-bottom: 3%;
  background-color: #eeeeee;
  /* border: palevioletred solid; */
}
.contenedorLista {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  /* grid-template-rows: 30%; */
  justify-content: center;
  row-gap: 0.5%;
  column-gap: 0.5%;
  margin-bottom: 7%;
  border-radius: 8px 8px 8px 8px;
}
