.contenedorNoticiasID {
  display: grid;
  grid-template-columns: minmax(650px, 65%) minmax(300px, 30%);
  gap: 2.5%;
  border: turquoise solid;
}

.elementoNoticiasID:nth-of-type(1) {
  background: rgb(233, 239, 241);
  margin-left: 3%;
}

.elementoNoticiasID:nth-of-type(2) {
  background: rgb(233, 239, 241);
}

.imagenNoticiasID {
  height: 60%;
  width: 86%;
}

.botonNoticiasID {
  background-color: rgba(243, 203, 61);
  color: white;
  margin-left: 3%;
  margin-top: 3%;
  font-size: 70%;
  font-family: 'Georgia';
  text-align: left;
}

.tituloNoticiasID {
  font-family: 'Georgia';
  font-weight: bolder;
  font-style: italic;
  font-size: x-large;
  margin-top: 3%;
  margin-left: 3%;
  border-bottom: gainsboro solid;
}
.fechaNoticiaID{
  font-family: 'Georgia';
  color: gray;
  text-align: right;
  padding-right: 3%;
  font-size: 85%;
  padding-bottom: 5%;
}
.textoNoticiasID {
  font-family: 'Georgia';
  margin-left: 3%;
  text-align: justify;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
  padding-top: 5%;
}

@media screen and (max-width: 768px) {
  .contenedorNoticiasID {
    gap: 1.5%;
  }
  .tituloNoticiasID {
    margin-top: 3%;
    font-size: 80%;
  }
  .textoNoticiasID {
    margin-top: 2%;
    font-size: 70%;
  }

  .fechaNoticiaID{
    padding-right: 2%;
    font-size: 65%;
    padding-bottom: 3%;
  }
}
