.contenedorNoticiasID {
  display: grid;
  grid-template-columns: minmax(650px, 65%) minmax(300px, 30%);
  gap: 2.5%;
  font-family: 'Georgia';
  border: blanchedalmond solid;
  background-color: #eeeeee;
}

.elementoNoticiasID:nth-of-type(1) {
  margin-left: 3%;
}

.elementoNoticiasID:nth-of-type(2) {
  background: #dadada;
  padding-bottom: 10%;
}

.imagenNoticiasID {
  padding-left: 5%;
  height: 40%;
  width: 80%;
}

.botonNoticiasID {
  background-color: #23374d;
  color: white;
  margin-left: 3%;
  margin-top: 3%;
  font-size: 70%;
  text-align: left;
}
.botonNoticiasID:hover {
  color: #268fd9;
}
.tituloNoticiasID {
  font-weight: bolder;
  font-style: italic;
  font-size: x-large;
  margin-top: 3%;
  margin-left: 3%;
  border-bottom: gainsboro solid;
}
.fechaNoticiasID {
  color: gray;
  text-align: right;
  padding-right: 3%;
  font-size: 85%;
  padding-bottom: 5%;
  font-family: 'Comic Sans', fantasy;
}
.textoNoticiasID {
  margin-left: 3%;
  text-align: justify;
  margin-right: 5%;
  margin-top: 2%;
  padding-top: 5%;
}

@media screen and (max-width: 768px) {
  .contenedorNoticiasID {
    gap: 1.5%;
  }
  .tituloNoticiasID {
    margin-top: 3%;
    font-size: 80%;
  }
  .textoNoticiasID {
    margin-top: 2%;
    font-size: 70%;
  }
  .botonNoticiasID {
    margin-left: 2%;
    margin-top: 2%;
    font-size: 60%;
  }
  .fechaNoticiasID {
    padding-right: 2%;
    font-size: 65%;
    padding-bottom: 3%;
  }
  .imagenNoticiasID {
    padding-left: 8%;
    height: 30%;
    width: 70%;
  }
}
