.contenedorLista3Noticias {
  width: 75%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #F7F7F7;
  border-radius: 8px 8px 8px 8px;

  margin-left: 15%;
  margin-top: 5%;
}
.contenedorLista3Noticias :nth-child(2) {
  font-size: 80%;
  font-family: 'Georgia';
  box-shadow: none;
  text-align: right;
  color: gray;
  padding-right: 2%;
  width: 85%;
}

.imagenLista3Noticias {
  width: 100%;
  height: 25vh;
  border-radius: 8px 8px 0px 0px;
}

.imagenContenedorLista3Noticias {
  width: 100%;
}

.contenedortituloLista3Noticias {
  font-weight: bold;
  font-family: 'Georgia';
  text-align: justify;
  font-size: 90%;
  margin: 2.5%;
}
.tituloContenedorNoticias {
  font-weight: bold;
  font-family: 'Georgia';
  text-align: justify;
  font-size: 100%;
  border-left: tomato solid 3px;
  padding-left: 2%;
  margin-top: 4%;
  margin-left: 10%;
}
@media screen and (max-width: 768px) {
  .contenedorLista3Noticias {
    width: 55%;
    height: 20%;
    margin-left: 10%;
    margin-top: 10%;
  }
  .contenedortituloLista3Noticias {
    font-size: 75%;
  }
  .contenedorLista3Noticias :nth-child(2) {
    font-size: 70%;
  }
  .tituloContenedorNoticias {
    font-size: 70%;
  }
}
