.fecha{
	font-size: 1em;
	color: #AAAAAA;
	font-weight:normal;
}

.puntaje{
    display: inline;
}

.critica{
	width: 100%;
	padding: 2em;
	padding-left: 2.5em;
	padding-top: 1em;
}

.listaComentarios {
    list-style-type: none;
}
